@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-100: rgba(255, 252, 250, 1);
  --primary-color-200: rgba(255, 245, 240, 1);
  --primary-color-300: rgba(255, 239, 229, 1);
  --primary-color-400: rgba(255, 222, 204, 1);
  --primary-color-500: rgba(255, 190, 153, 1);
  --primary-color-600: rgba(255, 174, 128, 1);
  --primary-color-700: rgba(255, 158, 102, 1);
  --primary-color-800: rgba(255, 141, 77, 1);

  --gray-color-100: rgba(179, 179, 179, 1);
  --gray-color-200: rgba(152, 152, 154, 1);
  --gray-color-300: rgba(101, 101, 103, 1);
  --gray-color-400: rgba(89, 89, 90, 1);
  --gray-color-500: rgba(76, 76, 77, 1);
  --gray-color-600: rgba(51, 51, 51, 1);
  --gray-color-700: rgba(38, 38, 38, 1);
  --gray-color-800: rgba(26, 26, 26, 1);
}

body {
  background-color: var(--primary-color-200);
}
